<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{webs/layouts/main-layout-admin :: main-fragment( ~{::title},
                                                ~{:: #admin-static-resources},
                                                ~{:: #navbarAdmin},
                                                ~{:: #layoutSide},
                                                ~{:: #layoutSidenav},
                                                ~{:: #content-body-admin},
                                                ~{:: #other-static-resources-script})}">
<head>
    <title>Role Manager</title>
    <meta charset="UTF-8"/>
    <th:block id="admin-static-resources">
        <link rel="stylesheet" th:href="@{/css/RoleCRUD.css}">
    </th:block>
</head>
<body class="sb-nav-fixed">
<!--Navbar-->
<div id="navbarAdmin" th:replace="~{webs/fragments/NavbarAdmin::navbarAdmin}">
</div>
<!--Manager RoleManager-->
<!--layout SideNav-->
<div id="layoutSide" class="layoutSide_admin">
    <!--    layoutSidenav_nav-->
    <div id="layoutSidenav" th:replace="~{webs/fragments/LayoutSidenav::layoutSidenav}">
    </div>
    <!--    layoutSidenav_content-->
    <div id="content-body-admin" class="layoutSidenav_content">
        <div class="container-xl">
            <div th:if="${result}">
                <div class="alert alert-secondary" role="alert" th:text="${result}">
                </div>
            </div>
            <div class="table-responsive">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2>Manage <b>Role</b></h2>
                            </div>
                            <div class="col-sm-6">
                                <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i
                                        class="material-icons">&#xE147;</i> <span>Thêm quyền</span></a>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>

                            <th style="width:450px; text-align:center">Quyền hạn</th>
                            <th style="width:200px">Quyền hạn số</th>
                            <th style="width:100px">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="role : ${lstRoles}">
                            <tr th:id="${role.id}">
                                <td th:text="${role.roleName}" style="text-align:center"></td>
                                <td th:text="${role.id}"></td>
                                <td>
                                    <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons"
                                                                                                     data-toggle="tooltip"
                                                                                                     title="Edit">&#xE254;</i></a>
                                    <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i
                                            class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                    <div class="clearfix">
                        <ul class="pagination">
                            <li class="page-item disabled"><a th:href="@{'/view/dashboard/role_manager?page='+${prePage}}">Previous</a></li>
                            <li class="page-item"><a th:href="@{'/view/dashboard/role_manager?page='+${nextPage}}" class="page-link">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Edit Modal HTML -->
        <div id="addEmployeeModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form th:action="@{/view/dashboard/role_manager/create}" th:object="${roleRequest}" method="post">
                        <div class="modal-header">
                            <h4 class="modal-title">Thêm mới quyền hạn</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Tên quyền</label>
                                <input type="text" th:field="*{roleName}" class="form-control" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                            <input type="submit" class="btn btn-success" value="Add">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Edit Modal HTML -->
        <div id="editEmployeeModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form th:action="@{/view/dashboard/role_manager/update}" th:object="${roleRequest}" method="post">
                        <div class="modal-header">
                            <h4 class="modal-title">Sửa quyền hạn</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Loại quyền</label>
                                <input type="text" th:field="*{id}" class="form-control" readonly required>
                            </div>
                            <div class="form-group">
                                <label>Tên quyền</label>
                                <input type="text" th:field="*{roleName}" class="form-control" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                            <input type="submit" class="btn btn-success" value="Save">
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <!-- Delete Modal HTML -->
        <div id="deleteEmployeeModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form th:action="@{/view/dashboard/role_manager/delete}" th:object="${roleRequest}" method="post" >
                        <div class="modal-header">
                            <h4 class="modal-title">Xoá Quyền</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>Bạn có muốn xoá quyền học không?</p>
                            <div class="form-group" hidden>
                                <label>ID</label>
                                <input type="text" th:field="*{id}" class="form-control" required>
                            </div>
                            <p class="text-warning"><small>Xoá quyền hạn.</small></p>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                            <input type="submit" class="btn btn-danger" value="Delete">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block id="other-static-resources-script">
    <script th:src="@{/js/RoleCRUD.js}"></script>
    <script>
        $(".edit").click(function (){
            let values = this.parentElement.parentElement.getElementsByTagName("td");
            let valuesOfEdit = document.getElementById("editEmployeeModal").getElementsByTagName("input");
            valuesOfEdit[0].value = values[1].textContent;
            valuesOfEdit[1].value = values[0].textContent;

        });
        $(".delete").click(function (){
            console.log(this.parentElement.parentElement);
            document.getElementById("deleteEmployeeModal").getElementsByTagName("input")[0].value
                = this.parentElement.parentElement.getAttribute("id");
        });
    </script>
</th:block>

</body>
</html>
